#ale {
  background-color: #fff897;
}


#lager {
  background-color: #FFD580;
}

#pilsner {
  background-color: #FFC000;
}

#stout {
  background-color: #232b2b;
}

#porter {
  background-color: #c58038;
}

.beer-text {
  color: white;
}

.beer-form {
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  background-color: #fff;
  border: 2px solid silver;
  border-radius: 10%;
}

.snack-form {
  margin: 0 auto;
  text-align: center;
  max-width: 620px;
  background-color: #fff;
  border: 1px solid silver;
  border-radius: 5%;
  padding: 10px;
}

.snack {
  color: #381887;
  font-weight: bold;
}


